
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/imgs/icon.svg">
    </button>
    <ion-title>Problems</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-slides>
    <ion-slide>
      <ion-title>Hosts</ion-title>
      <ion-list>
        <ion-list-header>
          Hosts in problem
        </ion-list-header>
        <button ion-item (click)="displayProblems('DOWN', 'host')">
          <ion-icon name="list-box" item-start ngClass="DOWN"></ion-icon>
          <ion-label>
            <ion-badge *ngIf="toDo(totalProblems.host.DOWN) == true" class="DOWN" style="background-color: #ffffff">TODO</ion-badge>
            <ion-badge *ngIf="toDo(totalProblems.host.DOWN) == false" style="background-color: #cccccc">ok</ion-badge>
            DOWN
          </ion-label>
        </button>
      </ion-list>
      <ion-list>
        <ion-list-header>
          Hosts in alert
        </ion-list-header>
        <button ion-item (click)="displayProblems('UNREACHABLE', 'host')">
          <ion-icon name="list-box" item-start ngClass="UNREACHABLE"></ion-icon>
          <ion-label>
            <ion-badge *ngIf="toDo(totalProblems.host.UNREACHABLE) == true" class="UNREACHABLE" style="background-color: #ffffff">TODO</ion-badge>
            <ion-badge *ngIf="toDo(totalProblems.host.UNREACHABLE) == false" style="background-color: #cccccc">ok</ion-badge>
            UNREACHABLE
          </ion-label>
        </button>
      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-title>Services</ion-title>
      <ion-list>
        <ion-list-header>
          Services in problem
        </ion-list-header>
        <button ion-item (click)="displayProblems('WARNING', 'service')">
          <ion-icon name="cube" item-start ngClass="WARNING"></ion-icon>
          <ion-label>
            <ion-badge *ngIf="toDo(totalProblems.service.WARNING)" class="WARNING" style="background-color: #ffffff">TODO</ion-badge>
            <ion-badge *ngIf="!toDo(totalProblems.service.WARNING)" style="background-color: #cccccc">ok</ion-badge>
            WARNING
          </ion-label>
        </button>
        <button ion-item (click)="displayProblems('CRITICAL', 'service')">
          <ion-icon name="cube" item-start ngClass="CRITICAL"></ion-icon>
          <ion-label>
            <ion-badge *ngIf="toDo(totalProblems.service.CRITICAL)" class="CRITICAL" style="background-color: #ffffff">TODO</ion-badge>
            <ion-badge *ngIf="!toDo(totalProblems.service.CRITICAL)" style="background-color: #cccccc">ok</ion-badge>
            CRITICAL
          </ion-label>
        </button>
      </ion-list>
      <ion-list>
        <ion-list-header>
          Services in alert
        </ion-list-header>
        <button ion-item (click)="displayProblems('UNKNOWN', 'service')">
          <ion-icon name="cube" item-start ngClass="UNKNOWN"></ion-icon>
          <ion-label>
            <ion-badge *ngIf="toDo(totalProblems.service.UNKNOWN)" class="UNKNOWN" style="background-color: #ffffff">TODO</ion-badge>
            <ion-badge *ngIf="!toDo(totalProblems.service.UNKNOWN)" style="background-color: #cccccc">ok</ion-badge>
            UNKNOWN
          </ion-label>
        </button>
        <button ion-item (click)="displayProblems('UNREACHABLE', 'service')">
          <ion-icon name="cube" item-start ngClass="UNREACHABLE"></ion-icon>
          <ion-label>
            <ion-badge *ngIf="toDo(totalProblems.service.UNREACHABLE)" class="UNREACHABLE" style="background-color: #ffffff">TODO</ion-badge>
            <ion-badge *ngIf="!toDo(totalProblems.service.UNREACHABLE)" style="background-color: #cccccc">ok</ion-badge>
            UNREACHABLE
          </ion-label>
        </button>
      </ion-list>
    </ion-slide>


  </ion-slides>

</ion-content>
