
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/imgs/icon.svg">
    </button>
    <ion-title>Livestate</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides>
    <ion-slide style="align-items: flex-start;">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-title>Total items in problem</ion-title>
            <circle-progress
              title="Total {{livestate.percent.total}}"
              subtitle="{{livestate.problems.total}} / {{livestate.total}}"
              [percent]="livestate.percent.total"
              [radius]="100"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [subtitleFontSize]="16"
              [outerStrokeColor]="colors.total.outerStrokeColor"
              [innerStrokeColor]="colors.total.innerStrokeColor"
            ></circle-progress>
          </ion-col>
        </ion-row>
        <ion-row style="border-top: 1px solid #cccccc">
          <ion-col>
            <ion-label style="font-size: 16px">Hosts managed</ion-label>
            <circle-progress
              subtitle="{{livestate.problems.host}} / {{hostSynthesis.total}}"
              [percent]="livestate.percent.host"
              [radius]="44"
              [outerStrokeWidth]="8"
              [innerStrokeWidth]="4"
              [subtitleFontSize]="12"
              [outerStrokeColor]="colors.host.outerStrokeColor"
              [innerStrokeColor]="colors.host.innerStrokeColor"
            ></circle-progress>
          </ion-col>
          <ion-col>
            <ion-label style="font-size: 16px">Services Managed</ion-label>
            <circle-progress
              subtitle="{{livestate.problems.service}} / {{serviceSynthesis.total}}"
              [percent]="livestate.percent.service"
              [radius]="44"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="3"
              [titleFontSize]="15"
              [subtitleFontSize]="12"
              [outerStrokeColor]="colors.service.outerStrokeColor"
              [innerStrokeColor]="colors.service.innerStrokeColor"
            ></circle-progress>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide style="align-items: flex-start;">
      <ion-title>Hosts Dashboard</ion-title>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let hKey of hostKeys" col-6>
            <ion-label style="font-size: 16px">{{hKey}}</ion-label>
            <circle-progress
              [titleColor]="getColorFromKey(hKey, hostSynthesis[hKey])"
              subtitle="{{hostSynthesis[hKey]}} / {{hostSynthesis['total']}}"
              subtitleColor="#00000"
              [percent]="getPercent(hostSynthesis[hKey], hostSynthesis['total'])"
              [radius]="40"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="3"
              [titleFontSize]="15"
              [subtitleFontSize]="12"
              [outerStrokeColor]="getColorFromKey(hKey, hostSynthesis[hKey])"
              [innerStrokeColor]="getColorFromKey(hKey, hostSynthesis[hKey])"
            ></circle-progress>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide style="align-items: flex-start;">
      <ion-title>Services Dashboard</ion-title>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let sKey of serviceKeys" col-6>
            <ion-label style="font-size: 16px">{{sKey}}</ion-label>
            <circle-progress
              [titleColor]="getColorFromKey(sKey, serviceSynthesis[sKey])"
              subtitle="{{serviceSynthesis[sKey]}} / {{serviceSynthesis['total']}}"
              subtitleColor="#00000"
              [percent]="getPercent(serviceSynthesis[sKey], serviceSynthesis['total'])"
              [radius]="40"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="3"
              [titleFontSize]="15"
              [subtitleFontSize]="12"
              [outerStrokeColor]="getColorFromKey(sKey, serviceSynthesis[sKey])"
              [innerStrokeColor]="getColorFromKey(sKey, serviceSynthesis[sKey])"
            ></circle-progress>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer>Test</ion-footer>
