
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/imgs/icon.svg">
    </button>
    <ion-title>Livestate</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides>
    <ion-slide style="align-items: flex-start;">
      <ion-grid>
        <ion-title style="border-bottom: 1px solid #cccccc">
          <ion-icon item-start style="color: #2a80b9;" name="speedometer" padding></ion-icon>
          Total items in problem
        </ion-title>
        <ion-row style="border-top: 1px solid #cccccc">
          <ion-col>
            <ion-label>
              Monitored {{livestate.total - (hostSynthesis['not_monitored'] + serviceSynthesis['not_monitored'])}}<br>
              <ion-note>Not monitored {{hostSynthesis['not_monitored'] + serviceSynthesis['not_monitored']}}</ion-note>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <circle-progress
              title="Total {{livestate.percent.total}}"
              subtitle="{{livestate.problems.total}} / {{livestate.total - (hostSynthesis['not_monitored'] + serviceSynthesis['not_monitored'])}}"
              [percent]="livestate.percent.total"
              [radius]="100"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [subtitleFontSize]="16"
              [outerStrokeColor]="colors.total.outerStrokeColor"
              [innerStrokeColor]="colors.total.innerStrokeColor"
            ></circle-progress>
          </ion-col>
        </ion-row>
        <ion-row style="border-top: 1px solid #cccccc">
          <ion-col>
            <ion-label style="font-size: 16px">Hosts <br>in problem</ion-label>
            <circle-progress
              title="{{livestate.percent.host}}"
              subtitle="{{livestate.problems.host}} / {{hostSynthesis.total - hostSynthesis['not_monitored']}}"
              [percent]="livestate.percent.host"
              [radius]="44"
              [outerStrokeWidth]="8"
              [innerStrokeWidth]="4"
              [subtitleFontSize]="12"
              [outerStrokeColor]="colors.host.outerStrokeColor"
              [innerStrokeColor]="colors.host.innerStrokeColor"
            ></circle-progress>
          </ion-col>
          <ion-col>
            <ion-label style="font-size: 16px">Services <br>in problem</ion-label>
            <circle-progress
              title="{{livestate.percent.service}}"
              subtitle="{{livestate.problems.service}} / {{serviceSynthesis.total - serviceSynthesis['not_monitored']}}"
              [percent]="livestate.percent.service"
              [radius]="44"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="3"
              [titleFontSize]="15"
              [subtitleFontSize]="12"
              [outerStrokeColor]="colors.service.outerStrokeColor"
              [innerStrokeColor]="colors.service.innerStrokeColor"
            ></circle-progress>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide style="align-items: flex-start;">
      <ion-title>
      <ion-icon item-start style="color: #2a80b9;" name="list-box" padding></ion-icon>
        Hosts: {{hostSynthesis['total']}}
      </ion-title>
      <ion-grid>
        <ion-row style="border-top: 1px solid #cccccc">
          <ion-col>
            <ion-label>
              Monitored {{hostSynthesis['total'] - hostSynthesis['not_monitored']}}<br>
              <ion-note>Not monitored {{hostSynthesis['not_monitored']}}</ion-note>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngFor="let hKey of hostSynthesis | getKeys" col-6>
            <ion-label *ngIf="doCircle(hKey)"  style="font-size: 16px">
              {{hKey}}
            </ion-label>
            <circle-progress
              *ngIf="doCircle(hKey)"
              title="{{getPercentFromItemType(hostSynthesis[hKey], 'host')}}"
              [titleColor]="getColorFromKey(hKey, hostSynthesis[hKey])"
              [subtitle]="getSubtitleFromItem(hKey, 'host')"
              subtitleColor="#00000"
              [percent]="getPercentFromItemType(hostSynthesis[hKey], 'host')"
              [radius]="40"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="3"
              [titleFontSize]="15"
              [subtitleFontSize]="12"
              [outerStrokeColor]="getColorFromKey(hKey, hostSynthesis[hKey])"
              [innerStrokeColor]="getColorFromKey(hKey, hostSynthesis[hKey])"
            ></circle-progress>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide style="align-items: flex-start;">
      <ion-title>
        <ion-icon item-start style="color: #2a80b9;" name="cube" padding></ion-icon>
        Services: {{serviceSynthesis['total']}}
      </ion-title>
      <ion-grid>
        <ion-row style="border-top: 1px solid #cccccc">
          <ion-col>
            <ion-label style="'color: ;'">
              Monitored {{serviceSynthesis['total'] - serviceSynthesis['not_monitored']}}<br>
              <ion-note>Not monitored {{serviceSynthesis['not_monitored']}}</ion-note>
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngFor="let sKey of serviceSynthesis | getKeys" col-6>
            <ion-label *ngIf="doCircle(sKey)" style="font-size: 16px">
              {{sKey}}
            </ion-label>
            <circle-progress
              *ngIf="doCircle(sKey)"
              title="{{getPercentFromItemType(serviceSynthesis[sKey], 'service')}}"
              [titleColor]="getColorFromKey(sKey, serviceSynthesis[sKey])"
              [subtitle]="getSubtitleFromItem(sKey, 'service')"
              subtitleColor="#00000"
              [percent]="getPercentFromItemType(serviceSynthesis[sKey], 'service')"
              [radius]="40"
              [outerStrokeWidth]="6"
              [innerStrokeWidth]="3"
              [titleFontSize]="15"
              [subtitleFontSize]="12"
              [outerStrokeColor]="getColorFromKey(sKey, serviceSynthesis[sKey])"
              [innerStrokeColor]="getColorFromKey(sKey, serviceSynthesis[sKey])"
            ></circle-progress>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
