<ion-header>

  <ion-navbar>
    <ion-title>
      <ion-icon padding item-start [ngClass]="host['ls_state']" name="list-box"></ion-icon>
      {{getItemName(host)}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-title>
    <ion-icon item-start style="color: #2a80b9;" name="cube" padding></ion-icon>
    Services
  </ion-title>
  <ion-list *ngFor="let service of services;">
    <ion-item-sliding #item>
      <ion-item>
        <ion-icon item-start [ngClass]="service['ls_state']" name="cube"></ion-icon>
        <ion-label>{{getItemName(service)}}<br> {{service['ls_state']}}</ion-label>
        <ion-badge item-end style="background-color: #ffffff;" *ngIf="service['ls_acknowledged'] == true">
          <ion-icon ngClass="ACK" name="checkbox"></ion-icon>
        </ion-badge>
        <ion-badge item-end style="background-color: #ffffff;" *ngIf="service['ls_downtimed'] == true">
          <ion-icon ngClass="DOWNTIME" name="medkit"></ion-icon>
        </ion-badge>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button style="background-color: #f39c12;" (click)="addAction()" [disabled]="service['ls_acknowledged']">
          <ion-icon name="checkbox"></ion-icon>
        </button>
        <button ion-button style="background-color: #f1c40f;" (click)="addAction()" [disabled]="service['ls_downtimed']">
          <ion-icon name="medkit"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button (click)="displayInfo(service)">
          <ion-icon name="eye"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
