// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-title {
  text-align: center;
}
// Hosts state css
.UP{
  color: #27ae60;
},
.UNREACHABLE {
  color: #9b59b6;
},
.DOWN {
  color: #e74c3c;
}
// Services state css
.OK{
  color: #27ae60;
}
.WARNING {
  color: #e67e22;
}
.UNKNOWN {
  color: #2a80b9;
}
.CRITICAL {
  color: #e74c3c;
}
.ACK {
  color: #f39c12;
}
.DOWNTIME {
  color: #f1c40f;
}
