
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/imgs/icon.svg">
    </button>
    <ion-title>Problems</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list-header>{{state}} {{itemType}}s</ion-list-header>
  <div *ngIf="problems">
    <ion-list *ngFor="let item of problems;" >
      <button ion-item (click)="openPage(itemType, item)">
        <ion-icon item-start [ngClass]="item['ls_state']" [name]="getIconName()"></ion-icon>
        <ion-label>{{getItemName(item)}}: {{item['ls_state']}}</ion-label>
      </button>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <div *ngIf="problems == false">
    <ion-note>No problem for this state</ion-note>
  </div>
</ion-content>
