
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <img src="assets/imgs/icon.svg">
    </button>
    <ion-title>Hosts</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list *ngFor="let item of hosts;">
    <button ion-item (click)="displayHost(item)">
      <ion-icon item-start [ngClass]="colors.up" name="list-box" *ngIf="item['ls_state'] === 'UP'"></ion-icon>
      <ion-icon item-start [ngClass]="colors.unreachable" name="list-box" *ngIf="item['ls_state'] === 'UNREACHABLE'"></ion-icon>
      <ion-icon item-start [ngClass]="colors.down" name="list-box" *ngIf="item['ls_state'] === 'DOWN'"></ion-icon>
      <ion-label>Host {{item['name']}}: {{item['ls_state']}}</ion-label>
    </button>
  </ion-list>
</ion-content>
